
.design{
	width: 1%;
	background-color: orange;
	height: 80px;
	margin-bottom: 20px;
	transition: 2s;
}
.ativar-design{
	width: 80%;
}
.desenvolvimento{
	width: 1%;
	background-color: orange;
	height: 80px;
	margin-bottom: 20px;
	transition: 2s;
}
.ativar-desenvolvimento{
	width: 90%;
}
.commerce{
	width: 1%;
	background-color: orange;
	height: 80px;
	margin-bottom: 20px;
	transition: 2s;
}
.ativar-commerce{
	width: 100%;
}