h1, h2, p {
	color: white;
}
strong{
	color: skyblue;
	font-weight: 800;
	font-style: 200px;
}
.space-servico h2{
	color:white;
}

/*seção no topo*/
#home{
	height:100vh;
	background-image:  url(../imagens/home.png);
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
/*menu 1 ul*/
#menu1{
			  width: 700px;
			  margin: 0 auto;
		  }
#menu1 ul{
width: auto; margin-right: 70px; margin-left: 30px;
}
#menu{
			  width: 700px;
			  margin: 0 auto;
		  }
#menu ul{
width: auto; margin-right: 70px; margin-left: 30px;
}
.menu li {
			  margin: 30px 0;
			  position: relative;
			  display: block;
			  font-size: 20px;
			  font-weight: 700;
			
		  }
/*fim menu*/
.contato{
	align-items: center;
	text-align: center;
	align-content: center;
	justify-content: center;
	padding:20px 0;
}
#contato li{
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 4rem;
	color: skyblue;
}
#contato a{
	color: skyblue;
}
#contato a:hover{
	color: white;
	background-color: transparent;
	transition: .6s;
}
.element{
	text-align: center;
	height: 40px;
}
.typed-cursor{
	opacity: 0;
	display: none;
}
#conteudo-da-home{
	width: 100%;

}
#conteudo-perfil{
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
#conteudo-informacao{
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	
}
#titulo-informacao h1{
	font-weight: 800;
	color: white;
}
#conteudo-informacao h2{
	color: white;
	font-weight: 600;
}

#perfil{
	background-color: blue;
	height: 400px;
	position:relative;
	z-index: 2;
	overflow: hidden;
	width: 400px;
	border-radius: 30%;
}
#formacoes{
	text-align: center;	
}
#formacoes strong{
	font-weight: 700;	
	font-size: 18px;
}
/*fim do estilo do topo*/
/*estilo da meus trabalhos*/
#section2{
	height:100vh;
	background-color:#282631;
	height: 100vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.titulo{
	color:white;
}
.no-space{
	padding: 0;
	overflow: hidden;
	border: solid 5px #282631;
	height: 240px;
}

.grid{
	height:310px;
}
   .no-space img {
        max-width: 100%;
        opacity: 1;
        transform: scale(1.1);
        -webkit-transition: all 3s;
        -moz-transition: all 3s;
        transition: all 3s;
        }
       .grid:hover img {
       transform:scale(1.2);
        -ms-transform:scale(1.2); /* IE 9 */
        -moz-transform:scale(1.2); /* Firefox */
        -webkit-transform:scale(1.2); /* Safari and Chrome */
        -o-transform:scale(1.2); /* Opera */
        }
        .titulo{
        	margin-bottom: 100px;
        }

.no-space1{
	background-color: rgba(148,148,148,0.56);
	padding: 0;
	overflow: hidden;
	border: solid 5px #282631;
	height: 240px;
}
/*fim estilo de trabalhos*/
/*inicio meus serviços*/
	#section3{
	height:100vh;
	background-color:#25232e;
	height: 100vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.img_design{
	height: 250px;
	justify-content: center;
	align-items: center;
	align-content: center;
	display: flex;
}
.img_desenvolvimento{
	height: 250px;
	justify-content: center;
	align-items: center;
	align-content: center;
	display: flex;
}
.img_commerce{
	height: 250px;
	justify-content: center;
	align-items: center;
	align-content: center;
	display: flex;
}
 	.progress{
    margin-top: 30px; 
}
	.progress{
		align-content: center;
		align-items:  center;
		text-align: center;
	}

/*fim dos serviços*/
/*inicio dos links*/
	#section4{
	background-color:#201e29;
	height: 120px;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;

}
	#bar-icon{
		margin-top: 30px;
		display: inline-flex;
		flex-wrap: wrap;
	}
	#bar-icon i{
		font-size: 4rem;
	}
	#bar-icon a:hover{
		color: white;
		transition: .6s;
		background-color: transparent;
	}
/*fim dos links*/
/*inicio habilidades */
	#section5{
	height:100vh;
	background-color:#1c1a25;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
	#habilidades li{
		display: inline-flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-content: center;
		align-items: center;
		text-align: center;
		justify-content: center;
		margin: 20px;
	}
	#habilidades i{
		font-size: 4rem;
		color: white;
	}
	#habilidades i:hover{
		color: skyblue;
		transition: .6s;
	}
	#habilidades a:hover{
		background-color: transparent;	
	}
	#habilidades span{
		color: white;
	}
/*fim habilidades */
/*footer*/
footer{
	margin: 0;
	height: 80px;
	width: 100%;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top:15px; 
}
footer h4{
 color: white;
 text-align: center;
}
footer strong{
	color: skyblue;
}
/*fim footer*/
@media (min-width: 280px) and (max-width: 379px){
	#perfil{
	background-color: skyblue;
	height: 200px;
	width: 200px;
	border-radius: 100%;
}
.element{
	font-size: 26px;
	text-align: center;
	height: 40px;
}
	.contato{
		align-items: center;
		text-align: center;
		align-content: center;
		justify-content: center;
		padding:20px 0;
}
/*menu collapse*/
#menu1{
			  width: 100%;
			  margin: 0 auto;
		  }
#menu1 li{
			text-align: center;
		  	font-size: 15px;
		  }
#menu1 ul{
width: 230px; margin-right: 0; margin-left: 0;
}
#menu{
			  width: 100%;
			  margin: 0 auto;
		  }
#menu li{
			text-align: center;
		  	font-size: 15px;
		  }
#menu ul{
width: 100%; 
margin: 0 auto;
}
.menu{
	margin-right: 10px; 
}
.menu li {
			  margin: 20px 0;
			  position: relative;
			  display: block;
			  font-size: 20px;
			  font-weight: 700;
			
		  }
/*fim menu collpase*/
	#home{
	min-height:1050px;
	background-image:  url(../imagens/home.png);

	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
/*estilo da meus trabalhos*/
#section2{
	
	background-color:#282631;
	height: 1300px;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
/*fim trabalhos*/
/*inicio meus serviços*/
	#section3{
	height:1600px;
	background-color:#25232e;
	
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
/*fim servicos*/
.no-space{
	padding: 0;
	overflow: hidden;
	border: solid 5px #282631;
	width: 100%;
	height: 160px;
}
.no-space1{

	height: 160px;
}
.grid{
	height:180px;
}
   .no-space img {
        max-width: 100%;
        opacity: 1;
        transform: scale(1.2);
        -webkit-transition: all 3s;
        -moz-transition: all 3s;
        transition: all 3s;
        }
       .grid:hover img {
       transform:scale(1.3);
        -ms-transform:scale(1.3); /* IE 9 */
        -moz-transform:scale(1.3); /* Firefox */
        -webkit-transform:scale(1.3); /* Safari and Chrome */
        -o-transform:scale(1.3); /* Opera */
        }
        .titulo{
        	margin-bottom: 40px;
        	color: white;
        }
        #portifolio{
        	width: 280px;
        }
/*fim estilo de trabalhos*/
/*footer*/
footer{
	height: 60px;
	padding-top: 12px;
}
footer h4{
 color: white;
 font-size: 1.5rem;
 text-align: center;
}
footer strong{
	color: skyblue;
}
}
@media (min-width: 380px) and (max-width:767px){
	#perfil{
	background-color: green;
	height: 200px;
	width: 200px;
	border-radius: 100%;
}
	.contato{
		align-items: center;
		text-align: center;
		align-content: center;
		justify-content: center;
		padding:20px 0;
}
/*menu collapse*/
#menu1{
			  width: 100%;
			  margin: 0 auto;
		  }
#menu1 li{
			text-align: center;
		  	font-size: 15px;
		  }
#menu1 ul{
width: 100%; 
margin: 0 auto;
}
#menu{
			  width: 100%;
			  margin: 0 auto;
		  }
#menu li{
			text-align: center;
		  	font-size: 15px;
		  }
#menu ul{
width: 100%; 
margin: 0 auto;
}
.menu li {
			  margin: 20px 0;
			  position: relative;
			  display: block;
			  font-size: 20px;
			  font-weight: 700;
			
		  }
/*fim menu collapse*/
	#home{
	min-height:950px;
	background-image:  url(../imagens/home.png);
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
/*estilo da meus trabalhos*/
#section2{
	height:100vh;
	background-color:#282631;
	height: 1400px;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
}
/*inicio meus serviços*/
	#section3{
	height:1600px;
	background-color:#25232e;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
#servicos{
        	width:400px; 
        }
/*fim servicos*/
.no-space{
	padding: 0;
	overflow: hidden;
	border: solid 5px #282631;
	height: 205px;
}
.no-space1{
	height: 205px;
}
.grid{
	height:205px;
}
   .no-space img {
        max-width: 100%;
        opacity: 1;
        transform: scale(1.1);
        -webkit-transition: all 3s;
        -moz-transition: all 3s;
        transition: all 3s;
        }
       .ggrid:hover img {
       transform:scale(1.2);
        -ms-transform:scale(1.2); /* IE 9 */
        -moz-transform:scale(1.2); /* Firefox */
        -webkit-transform:scale(1.2); /* Safari and Chrome */
        -o-transform:scale(1.2); /* Opera */
        }
        .titulo{
        	margin-bottom: 40px;
        	color: white;
        }
        #portifolio{
        	width:350px; 
        }
/*fim estilo de trabalhos*/
}
@media (min-width: 768px) and (max-width: 1023px){
	#perfil{
	background-color: green;
	height: 200px;
	width: 200px;
	border-radius: 100%;
}
	.contato{
		align-items: center;
		text-align: center;
		align-content: center;
		justify-content: center;
		padding:20px 0;
}
	#home{
	min-height:900px;
	background-image:  url(../imagens/home.png);
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
/*estilo da meus trabalhos*/
#section2{
	height:100vh;
	background-color:#282631;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}
/*inicio meus serviços*/
	#section3{
	height:1600px;
	background-color:#25232e;
	
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
#server{
	margin: 0 150px;
}
/*fim servicos*/
.no-space{
	padding: 0;
	overflow: hidden;
	border: solid 3px #282631;
	height: 150px;

}
.grid{
	height:230px;
}

   .no-space img {
        width: 100%;
        opacity: 1;
        transform: scale(1.2);
        -webkit-transition: all 3s;
        -moz-transition: all 3s;
        transition: all 3s;
        }
       .grid:hover img {
       transform:scale(1.4);
        -ms-transform:scale(1.4); /* IE 9 */
        -moz-transform:scale(1.4); /* Firefox */
        -webkit-transform:scale(1.4); /* Safari and Chrome */
        -o-transform:scale(1.4); /* Opera */
        }
        .titulo{
        	margin-bottom: 40px;
        	color: white;
        }
        .no-space1{
	background-color: rgba(148,148,148,0.56);
	padding: 0;
	overflow: hidden;
	border: solid 3px #282631;
	height: 150px;
}
/*fim estilo de trabalhos*/
}
@media (min-width: 1024px) and (max-width: 1919px){
	#perfil{
	background-color: red;
	height: 350px;
	width: 350px;
	border-radius: 100%;
}
	#home{
	min-height:600px;
	background-image:  url(../imagens/home.png);
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
/*estilo da meus trabalhos*/
#section2{
	height:100vh;
	background-color:#282631;
	height: 100vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.no-space{
	padding: 0;
	overflow: hidden;
	border: solid 5px #282631;
	height: 200px;
}
.no-space1{
	background-color: rgba(148,148,148,0.56);
	padding: 0;
	overflow: hidden;
	border: solid 5px #282631;
	height: 200px;
}
.grid{
	height:20px;
}
   .no-space img {
        max-width: 100%;
        opacity: 1;
        transform: scale(1.1);
        -webkit-transition: all 7s;
        -moz-transition: all 7s;
        transition: all 7s;
        }
       .ggrid:hover img {
       transform:scale(1.2);
        -ms-transform:scale(1.2); /* IE 9 */
        -moz-transform:scale(1.2); /* Firefox */
        -webkit-transform:scale(1.2); /* Safari and Chrome */
        -o-transform:scale(1.2); /* Opera */
        }
        .titulo{
        	margin-bottom: 40px;
        	color: white;
        }
/*fim estilo de trabalhos*/
}
