
body{
	margin:0;
	background: url("../img/movimento.jpeg");
	background-repeat: no-repeat;
	background-size: cover;

}
header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	padding: 20px 40px 0;
	display: flex;
	z-index: 3;
	-webkit-box-pack:justify;
	justify-content: space-between;
}
.logo{
	position: relative;
	z-index: 1000;

	align-items: center;
}
.logo img{
	width: 40px;
}
.info_menu{
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 4rem;
}
.link{
	display: webkit box;
	display: ms flexbox;
	/*display: flex;*/
	display: none;
	margin-right: 6.4rem;
}
.link i{
	font-size: 2rem;
	z-index: 2;
}
.bar{
	float: right;
	height: 22px;
	width: 50px;
	cursor: pointer; 
	position: relative;
}
.bar-top{
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: white;
	right: 0;
	-webkit-transition: all .7s ease;
  	-moz-transition: all .7s ease;
  	-ms-transition: all .7s ease;
  	-o-transition: all .7s ease;
  	transition: all .7s ease;
}
.bar-top-active{
	-webkit-transform: translateY(7px) rotateZ(45deg);
  	-ms-transform: translateY(7px) rotateZ(45deg);
  	-o-transform: translateY(7px) rotateZ(45deg);
	transform: translateY(7px) rotate(45deg);
	height: 3px;
	width: 100%;
	background-color: white;
	-webkit-transition: all .7s ease;
  	-moz-transition: all .7s ease;
  	-ms-transition: all .7s ease;
  	-o-transition: all .7s ease;
  	transition: all .7s ease;
  }
.bar-bottom{
	position: absolute;
	right: 0;
	height: 3px;
	background-color: white;
	width: 100%;
	bottom: 0;
	-webkit-transition: all .7s ease;
  	-moz-transition: all .7s ease;
  	-ms-transition: all .7s ease;
  	-o-transition: all .7s ease;
  	transition: all .7s ease;
}
.bar-bottom-active {
	-webkit-transform: translateY(-10px) rotateZ(-45deg);
  	-ms-transform: translateY(-10px) rotateZ(-45deg);
  	-o-transform: translateY(-10px) rotateZ(-45deg);
	transform: translateY(-10px) rotate(-45deg);
	height: 3px;
	width: 100%;
	background-color: white;
	-webkit-transition: all .7s ease;
  	-moz-transition: all .7s ease;
  	-ms-transition: all .7s ease;
  	-o-transition: all .7s ease;
  	transition: all .7s ease;
}
/*MAIN DO MENU*/
.main{
	height: 100vh;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 2;
	background-color: blue;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	transition: .6s;
	opacity: 0;
}
.main-active{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
	transition: .6s;
	z-index: 2;
	
}
.menu{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.menu li{
	list-style-type:none;
	font-size: 3rem;
	color: white;
	margin: 20px;
	font-weight: 700;
}
.menu li a{
	text-decoration: none;
	color: inherit;
}
	.link-item{
	-webkit-transform: translate3d(-100px,0,0) ;
  	-ms-transform:translate3d(-100px,0,0);
  	-o-transform:translate3d(-100px,0,0) ;
	transform: translate3d(-100px,0,0);
	opacity: 0;

	}
	.link-item:first-child{
	  -webkit-transition: all .7s .2s ease-in-out;
	  -moz-transition: all .7s .2s ease-in-out;
	  -ms-transition: all .7s .2s ease-in-out;
	  -o-transition: all .7s .2s ease-in-out;
	  transition: all .7s .2s ease-in-out
	}
	.link-item:nth-child(2){
	  -webkit-transition: all .7s .4s ease-in-out;
	  -moz-transition: all .7s .4s ease-in-out;
	  -ms-transition: all .7s .4s ease-in-out;
	  -o-transition: all .7s .4s ease-in-out;
	  transition: all .7s .4s ease-in-out
	}
	.link-item:nth-child(3){
	  -webkit-transition: all .7s .4s ease-in-out;
	  -moz-transition: all .7s .4s ease-in-out;
	  -ms-transition: all .7s .4s ease-in-out;
	  -o-transition: all .7s .4s ease-in-out;
	  transition: all .7s .4s ease-in-out
	}
	.link-item:last-child{
	  -webkit-transition: all .7s .6s ease-in-out;
	  -moz-transition: all .7s .6s ease-in-out;
	  -ms-transition: all .7s .6s ease-in-out;
	  -o-transition: all .7s .6s ease-in-out;
	  transition: all .7s .6s ease-in-out
	}
	.link-item-active{
	-webkit-transform: translate3d(0,0,0) ;
  	-ms-transform: translate3d(0,0,0);
  	-o-transform: translate3d(0,0,0) ;
	transform: translate3d(0,0,0);
	opacity: 1;

	}
/*FIM MAIN DO MENU*/
.conteudo{
	z-index: 1;
	height: 100vh;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	
}
/*barra do menu lateral*/
.btl{
	position: fixed;
	height: 100px;
	width: 100%;
	bottom: 40px;
	display: inline-flex;
	flex-direction: column; 
	align-content: center;
	align-items: center;
	justify-content: center;
}
.btl ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	width: 100px;
	height: auto;
	transform: rotate(90deg);
}
.btl ul li {
	list-style-type: none;
	margin: 15px auto;
	height: 4px;
	width: 40%;
	background-color: white;
}

/*fim menu lateral*/
@media (min-width: 560px) and (max-width: 1023px){
header{
	padding: 40px 40px 0;
}
.logo img{
	width: 60px;
}
.link{
	display: none;
}
.info_menu{
	margin-right: 6.4rem;
}
/*main menu*/
	.main{
		text-align: center;
	}
	.menu{
		padding: 0;
	}
	.menu li{
		text-align: center;
		margin: 10px;
		font-weight: 700;
		font-size: 6rem;;
	}
/*fim main menu*/
/*barra do menu lateral*/
.btl{
	position: fixed;
	height: 100vh;
	width: 100px;
	display: flex; 
	align-content: center;
	align-items: center;
	justify-content: center;
}
.btl ul{
	width: 100%;
	height: auto;
	transform: rotate(0deg);
}
.btl ul li {

	list-style-type: none;
	margin: 40px 20px auto;
	height: 3px;
	width: 50%;
	background-color: white;
}
}
@media (min-width: 1024px) and (max-width: 2650px){
header{
	padding: 40px 40px 0;
}
	.link{
	display: flex;
}
	.logo img{
	width: 60px;
}
/*main menu*/
	.main{
		text-align: center;
	}
	.menu{
		padding: 0;
	}
	.info_menu{
	margin-right: 6.4rem;
}
	.menu li{
		text-align: center;
		margin: 10px;
		font-weight: 700;
		font-size: 3rem;;
	}

/*fim main menu*/
/*barra do menu lateral*/
.btl{
	position: fixed;
	height: 100vh;
	width: 100px;
	display: flex; 
	align-content: center;
	align-items: center;
	justify-content: center;
}
.btl ul{
	width: 100%;
	height: auto;
	transform: rotate(0deg);
}
.btl ul li {
	list-style-type: none;
	margin: 40px 20px auto;
	height: 3px;
	width: 50%;
	background-color: white;
}
}